[submodule "caffe-fast-rcnn"]
	path = caffe-fast-rcnn
	url = https://github.com/rbgirshick/caffe-fast-rcnn.git
	branch = fast-rcnn
[submodule "py-faster-rcnn-data-interface-generator"]
	path = py-faster-rcnn-data-interface-generator
	url = https://www.github.com/Microos/py-faster-rcnn-data-interface-generator
